%h3
  Current Status
.col-sm-10.well.center
  %dl.dl-horizontal
    %dt
      Squats:
    %dd
      105 lb, 3 sets
    %br
    %dt
      Dead Lifts:
    %dd
      85 lb, 3 sets
    %br
    %dt
      Lower Back:
    %dd
      20 reps, 3 sets
    %br
    %dt
      Leg Extensions:
    %dd
      50 lb, 3 sets
    %br
    %dt
      Seated Leg:
    %dd
      55 lb, 3 sets
    %br
    %dt
      Pullups:
    %dd
      75 lb, 3 sets
