.col-sm-8.well.center
  %h3
    Login
  %hr
  %form.form-horizontal
    .form-group
      %label.col-sm-2.control-label{:for => "inputusername3"} Username
      .col-sm-6
        %input#inputEmail3.form-control{:placeholder => "Username", :type => "text"}/
    .form-group
      %label.col-sm-2.control-label{:for => "inputPassword3"} Password
      .col-sm-6
        %input#inputPassword3.form-control{:placeholder => "Password", :type => "password"}/
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{:type => "submit"} Sign in
