%h3
  Leg Day
.col-sm-10.well.center
  %form.form-horizontal
    .form-group.single-exercise
      %label.col-sm-2.col-sm-offset-1.control-label Dead Lifts
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p LBS
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p REPS
      .col-sm-1
        %a.btn.btn-success
          Done!
.col-sm-10.well.center
  %form.form-horizontal
    .form-group.single-exercise
      %label.col-sm-2.col-sm-offset-1.control-label Squats
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p LBS
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p REPS
      .col-sm-1
        %a.btn.btn-success
          Done!
.col-sm-10.well.center
  %form.form-horizontal
    .form-group.single-exercise
      %label.col-sm-2.col-sm-offset-1.control-label Lunges
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p LBS
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p REPS
      .col-sm-1
        %a.btn.btn-success
          Done!
.col-sm-10.well.center
  %form.form-horizontal
    .form-group.single-exercise
      %label.col-sm-2.col-sm-offset-1.control-label Leg Extensions
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p LBS
      .col-sm-2
        %select.form-control
          %option 5
          %option 10
          %option 15
          %option 20
          %option 25
          %option 30
          %option 35
          %option 40
          %option 45
          %option 50
      .col-sm-1
        %p REPS
      .col-sm-1
        %a.btn.btn-success
          Done!
.col-sm-10.col-sm-offset-5
  %button.btn.btn-success.submit{type: "submit"}
    Workout Complete!
  %a.btn.btn-danger
    Cancel


