%h3
  Workouts
.col-sm-10.well.center
  .workout.clearfix
    %h4
      Leg Day
    %a.btn.btn-warning{href: ""}
      Edit
    %a.btn.btn-success.start{href: ""}
      Start Workout
  .workout.clearfix
    %h4
      Chest and Abs
    %a.btn.btn-warning{href: ""}
      Edit
    %a.btn.btn-success.start{href: ""}
      Start Workout
  .workout.clearfix
    %h4
      Back and Shoulders
    %a.btn.btn-warning{href: ""}
      Edit
    %a.btn.btn-success.start{href: ""}
      Start Workout

