/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require multi-select
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F0F0F5;
  overflow-x: hidden;
}

.navbar {
  border-radius: 0;
}

.center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  margin-left: 20px;
  text-align: center;
}

dd {
  max-width: 275px;
  position: relative;
}

.dl-horizontal {
  margin-bottom: 0;
}

.edit {
  position: absolute;
  right: 0px;
}

.alert {
  padding: 7px;
}

#flash {
  clear: both;
}

.workout {
  padding: 5px;
}

.workout h4 {
  float: left;
}

.submit {
  margin-right: 10px;
}

.exercise-label {
  padding: 5px 0 0 5px;
}

.single-exercise .col-sm-1 {
  padding-left: 0;
}

.form-group.single-exercise {
  position: relative;
}

.single-exercise .btn, .single-exercise img {
  position: absolute;
  right: 0;
}

@media (max-width: 767px) {
  .single-exercise .btn, .single-exercise img {
    position: relative;
  }
  .single-exercise .col-sm-2 {
    padding-left: 0;
  }
}

.workout .btn {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.success-buttons {
  text-align: center;
}

.success-buttons a {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

.col-sm-6 {
  padding-left: 5px;
}

.obj-empty-text {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

